<html>
<head>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DesignX</title>

    <!-- Bootstrap CSS -->   
    <link rel="stylesheet"
	href="bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css">

    <!-- font awesome css -->
    <link rel="stylesheet"
	href="font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- project css -->
    <link rel="stylesheet" href="css/footer.css">
    
</head>
<body>

	<nav
		class="navbar navbar-toggleable-sm navbar-light fixed-top justify-content-center bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#mynavbar"
			aria-controls="mynavbar" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#"><span><img
				style="height: 20px;" src="img/need.png"></span> DesignX</a>

		<div class="collapse navbar-collapse" id="mynavbar">
			<ul class="navbar-nav mr-auto w-100 justify-content-end">

				<li class="nav-item" style="margin-right: 10px;"><a
					class="nav-link" id="about" href=""><span
						class="fa fa-info-circle" aria-hidden="true"></span> About</a></li>

				<li class="nav-item" style="margin-right: 10px;"><a
					class="nav-link" href="login"><span
						class="fa fa-phone" aria-hidden="true"></span> Contact </a></li>

				<li class="nav-item" style="margin-right: 10px;"><a
					class="nav-link" href="signup"><span
						class="fa fa-user" aria-hidden="true"></span> Sign Up </a></li>

				<li class="nav-item" style="margin-right: 10px;"><a
					class="nav-link" href="login"><span
						class="fa fa-sign-in" aria-hidden="true"></span> Login </a></li>

			</ul>
		</div>
	</nav>


	<div
		style="width: 100%; height: 120%; background-image: url('img/automat.jpg'); background-size: 100% 100%;">
	</div>
	
	<div class="jumbotron" id="aboutPosition">

<h1 class="text-center pb-5"> About Database </h1>

<p class="lead pl-5 pr-5"> Bread wheat(Triticum aestivum)is one of the important cereal grain  providing nutritious and starch which makes it as a most important staple food crop for millions of people across the world. It is widely grown for food, feed, fiber and various industrial processes and the quality and yield got affected by the means of nutrient deficiency and other stress. <br>In nature plant may face a wide range of favorable or unfavorable biotic and abiotic factors during their life cycle. Any of these factors may cause stress in plants, therefore, they have to be more adaptable to stressful environments and must acquire greater tolerance to different stresses. During this process various Genes, Expressed Sequence Tags (EST) and Proteins plays important role in fighting against such stress.<br> This database provides a powerful mean for manipulation, comparison, search and retrieval of records describing the nature of stress tolerance genes/EST/proteins in Triticum aestivum. Database contains only wet lab proved genes/EST/Proteins related to all stress tolerance.
	<br>It contains 63 Genes, 726 Proteins, 170701 EST participates in various stress conditions.
	<br>The database are associated with different stress conditions.
</p>

</div>

        <footer class="footer">
                <p class="text-center pt-3">© NeedKnowledge</p>
        </footer>
        

   <!-- jQuery first, then Bootstrap JS. -->
   <script src="js/jquery.js"></script>
   <script src="bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script> 
   
   <!-- project js -->
   <script src="js/index.js"></script>

</body>
</html>


