.card-alignment {
	margin-top: 17%;
	align-content: center;
	width: 30%;
	min-width: 350px;
	background-color: powderblue;
}

.box {
	text-align: center;
}

body {
	background-image: url('../img/bird.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
